body{
    background-image: url("photo/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsla(200, 100%, 8%, 0.5);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 500px;
    width: 800px;
   background-color: white;
   opacity: 0.9;
    overflow: hidden;
    border-radius: 50px;

}

.about-us-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us img{
    height: 40vh;


}


.about-us-1 h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 30px;
    
}
.about-us-1 p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 30px;
}
.about-us-1 a{
    background-color: white;
    padding: 7px;
    color:#2980b9;
    text-decoration: none;
    margin-right: 30px;
    margin-bottom: 20px;
}

.text{
    background-color: #2980b9;
    margin-right: 30px;
    border-radius: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
}

      
@media only screen and (max-width:700px) {

    body{
        height: 100vh;
    }

    .about-us{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 400px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
       background-color: white;
       opacity: 0.9;

        
    
      
  
    }

    .about-us-section{
        height: 100vh;
    }



.about-us img{
    height: 30vh;



 }
 .about-us-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;

 }
  }