/* StyleOfSignUp.css */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("photo/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsla(200, 100%, 8%, 0.5);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    color: #2980b9;
    font-size: 30px;
    text-decoration: none;
    margin: 15px 0 10px;
    text-transform: uppercase;
}

.container button {
    background-color: #2980b9;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: rgb(208, 206, 231);
}

.container form {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    height: 100%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up {
    left: 0;
    width: 100%;
    z-index: 2;
}

.container.active .sign-up {
    transform: translateX(100%);
}

.social-icons {
    margin: 20px 0;
}

.social-icons img{
    width: 50px;
    height: 50px;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.input-container {
    width: 80%;
    margin-bottom: 15px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
